# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Storage - DO NOT commit user data
backend/storage/

# IDE / Editor specific
.idea/
.vscode/
*.swp

# OS specific
.DS_Store
Thumbs.db
